<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="_IP" value="127.0.0.1" />
    <add key="_PORT" value="869C" />
    <add key="_Code" value="7A1" />
    <add key="_Cmd" value="01" />
    <add key="_TIMEOUT_MS" value="1500" />
    <add key="_RETRY_COUNT" value="5" />
  </appSettings>
</configuration>